<h1>Forgot password</h1>

<form action="/users/verify_user" method="POST">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="submit" value="Forgot password">

</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>