
<h1>Reset password</h1>
<p><%= access_token %></p>

<form action="/users/reset-password" method="POST">
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="hidden" name="user_acess_token" value ="<%= access_token %>">
    <input type="submit" value="Reset password">
    

</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>